.padding {
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
}
.footer {
  font-size: 15px;
  font-style: normal;
  color: #616161;
  background-color: #eeeeee;
  text-decoration: none;
  height: auto;
  padding: 12px;
}
.content {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-transform: inherit;
  font-size: 17px;
  font-family: sans-serif;
  background-color: #212121;
  color: white;
  height: auto;
}
.navbar {
  padding-top: 5px;
  background-color: #212121
}
.header {
  text-align: center;
}
